<a href="https://colab.research.google.com/github/NishithP2004/19CSE305_ML/blob/main/Lab_Session_02_31_07_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# A1, A2
import pandas as pd
import numpy as np

df = pd.read_excel("./Lab Session Data.xlsx", sheet_name="Purchase data")

purchase_data = df[["Customer", "Candies (#)", "Mangoes (Kg)", "Milk Packets (#)", "Payment (Rs)"]]
print(purchase_data)

print("\nDimensionality of DataFrame:", purchase_data.shape)
print("\nNumber of Vectors:", purchase_data.shape[0])

A = purchase_data[["Candies (#)", "Mangoes (Kg)", "Milk Packets (#)"]].to_numpy()
C = purchase_data[["Payment (Rs)"]].to_numpy()

print("\nRank of A:", np.linalg.matrix_rank(A))

A_inv = np.linalg.pinv(A)
X = np.matmul(A_inv, C)
print("\nX = A_inv * C")
print(X.reshape(1, 3))

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

Dimensionality of DataFrame: (10, 5)

Number of Vectors: 10

Rank of A: 3

X = A_inv * C
[[ 1. 55. 18.]]

In [51]:
# A3

payment = purchase_data["Payment (Rs)"]

# RICH = np.array([1, 0])
# POOR = np.array([0, 1])
purchase_data.loc[:, "Classification"] = ['RICH' if p > 200 else 'POOR' for p in payment]
print(purchase_data)

classification = purchase_data["Classification"]

# RICH = 0
# POOR = 1
L = np.array([0 if c == "RICH" else 1 for c in classification])
Y = np.matmul(A_inv, L)

print(Y)

C_new = np.matmul(A, Y)
t1 = ["RICH" if c <= 0.5 else "POOR" for c in C_new]

print(t1)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

  Classification
0           RICH
1           RICH
2           RICH
3           POOR
4           RICH
5           POOR
6           RICH
7           RICH
8           POOR
9           POOR
[ 0.05270682 -0.23283518  0.02706752]
['RICH', 'RICH', 'RICH', 'POOR', 'RICH', 'POOR', 'RICH', 'RICH', 'POOR', 'RICH']